In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import matplotlib.colors
import numpy as np

In [2]:
df18966 = pd.read_csv('18966.csv')

In [12]:
df18967 = df18966
df18967['Pos_Y_[cm]'] = df18966['Pos_Y_[cm]'].apply(lambda x: -x)
df18967['Dir_Y'] = df18966['Dir_Y'].apply(lambda x: -x)
df18967['Dir_phi_[rad]'] = df18966['Dir_phi_[rad]'].apply(lambda x: -x)
df18967

,Pos_X_[cm],Pos_Y_[cm],Pos_Z_[cm],Pos_u,Pos_v,Dir_X,Dir_Y,Dir_Z,Dir_theta_[rad],Dir_phi_[rad],LowFluxRatio,Energy_[eV],Flux_[photon/s],Power_[W],Unnamed: 14,a
0,2.88400,-0.360639,-23.7755,0.484624,0.287669,0.019005,0.002523,-0.999816,1.58995,-0.000857,1,12.3148,5.392640e+13,0.000106,NaN,0.360639
1,2.91312,-0.027811,-12.9458,0.469789,0.945068,0.003143,-0.000030,-0.999995,1.57393,0.000304,1,1201.5000,1.088990e+13,0.002096,NaN,0.027811
2,2.91330,-0.025736,88.1310,0.331327,0.949166,0.003560,-0.000114,-0.999994,1.57433,0.000424,1,15675.3000,1.256140e+13,0.031548,NaN,0.025736
3,2.90643,-0.104228,18.6159,0.426554,0.794129,0.072397,0.003526,-0.997370,1.64329,0.002805,1,127.4120,5.392640e+13,0.001101,NaN,0.104228
4,2.91150,-0.046254,-263.8040,0.813431,0.908639,0.002597,-0.000101,-0.999997,1.57337,0.000327,1,4186.3500,9.095610e+12,0.006101,NaN,0.046254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2.91018,-0.061385,78.7723,0.344148,0.878753,0.003768,-0.000348,-0.999993,1.57452,0.000675,1,233.9820,1.328530e+13,0.000498,NaN,0.061385
99996,2.91376,-0.020489,-51.1964,0.522187,0.959530,0.003007,0.000005,-0.999995,1.57379,0.000258,1,32897.2000,1.044190e+13,0.055037,NaN,0.020489
99997,2.91173,-0.043701,-99.3289,0.588122,0.913682,0.002957,-0.000029,-0.999996,1.57374,0.000287,1,4562.1000,1.027230e+13,0.007508,NaN,0.043701
99998,2.91321,-0.026780,-81.4710,0.563659,0.947104,0.003003,0.000101,-0.999995,1.57380,0.000161,1,37.0233,1.053230e+13,0.000062,NaN,0.026780
99999,2.89679,-0.214451,119.8070,0.287935,0.576419,0.047413,0.048477,-0.997698,1.62228,-0.044233,1,445.8750,5.392640e+13,0.003852,NaN,0.214451

In [13]:
df18967.to_csv('18967.csv');

In [5]:
df18966

,Pos_X_[cm],Pos_Y_[cm],Pos_Z_[cm],Pos_u,Pos_v,Dir_X,Dir_Y,Dir_Z,Dir_theta_[rad],Dir_phi_[rad],LowFluxRatio,Energy_[eV],Flux_[photon/s],Power_[W],Unnamed: 14
0,2.88400,-0.360639,-23.7755,0.484624,0.287669,0.019005,-0.002523,-0.999816,1.58995,0.000857,1,12.3148,5.392640e+13,0.000106,NaN
1,2.91312,-0.027811,-12.9458,0.469789,0.945068,0.003143,0.000030,-0.999995,1.57393,-0.000304,1,1201.5000,1.088990e+13,0.002096,NaN
2,2.91330,-0.025736,88.1310,0.331327,0.949166,0.003560,0.000114,-0.999994,1.57433,-0.000424,1,15675.3000,1.256140e+13,0.031548,NaN
3,2.90643,-0.104228,18.6159,0.426554,0.794129,0.072397,-0.003526,-0.997370,1.64329,-0.002805,1,127.4120,5.392640e+13,0.001101,NaN
4,2.91150,-0.046254,-263.8040,0.813431,0.908639,0.002597,0.000101,-0.999997,1.57337,-0.000327,1,4186.3500,9.095610e+12,0.006101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2.91018,-0.061385,78.7723,0.344148,0.878753,0.003768,0.000348,-0.999993,1.57452,-0.000675,1,233.9820,1.328530e+13,0.000498,NaN
99996,2.91376,-0.020489,-51.1964,0.522187,0.959530,0.003007,-0.000005,-0.999995,1.57379,-0.000258,1,32897.2000,1.044190e+13,0.055037,NaN
99997,2.91173,-0.043701,-99.3289,0.588122,0.913682,0.002957,0.000029,-0.999996,1.57374,-0.000287,1,4562.1000,1.027230e+13,0.007508,NaN
99998,2.91321,-0.026780,-81.4710,0.563659,0.947104,0.003003,-0.000101,-0.999995,1.57380,-0.000161,1,37.0233,1.053230e+13,0.000062,NaN
99999,2.89679,-0.214451,119.8070,0.287935,0.576419,0.047413,-0.048477,-0.997698,1.62228,0.044233,1,445.8750,5.392640e+13,0.003852,NaN